
@dark: #111;
@light: #FFF;

@blue: #0077AE;


//////  FONTS  /////

@font-face {
    font-family: Bebas;
    src: url(fonts/BebasNeue.otf);
}




body {
	color: @light;
	background-color: @dark;
}



////////////////////////////////////////
//                                    //
//            ADAPT DIVI              //
//                                    //
////////////////////////////////////////


#main-content {
	background-color: transparent;
} 