
///// VARIABLES /////

@dark: #111;
@light: #FFF;

@blue: #0077AE;


//////  FONTS  /////

@font-face {
    font-family: Bebas;
    src: url(fonts/BebasNeue.otf);
}


//////  GENERALS  /////


body {
	color: @dark;
	background-color: @light;
	padding-top: 110px;
}


a {
	&:hover {
		text-decoration: none;
	}
}

