
#main-header {
	background-color: @dark;
	box-shadow: 0 0 5px 0  @blue;
	.site-title {
		color: @light;
		font-family: Bebas;
		span {
			color: @blue;
		}
	}
}

#top-menu {
	a {
		font-family: Bebas;
	}
}